// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

//$header-font-size: 1em;
//$header-padding-top: 1.5em;
//$header-padding-bottom: 1.5em;

//$max-width: 1350px;
$indented-lists: true;

// Padding used for layout margins
//$pad-min: 18px;
//$pad-narrow: 25px;
//$pad-medium: 35px;
//$pad-wide: 55px;

// Sidebar widths used in media queries
//$sidebar-width-medium: 240px;
//$sidebar-pad-medium: 15px;
//$sidebar-pad-wide: 20px;
//$sidebar-width-wide: 300px;

#about {
  .avatar {
    text-align: center;
    margin-top: 1.5em;
  }
}

@mixin shadow-box($border: #fff .5em solid, $shadow: rgba(#000, .15) 0 1px 4px, $border-radius: .3em) {
  @include border-radius($border-radius);
  @include box-shadow($shadow);
  @include box-sizing(border-box);
  border: $border;
}

iframe.slides {
  @extend .flex-content;
  @extend .basic-alignment;
  @include shadow-box;
  width: 100%;
  height: 620px !important;
}

body {
  header {
    text-transform: lowercase;

    hgroup {
      h1 a {
        font-weight: 900;
        font-size: 1.2em;
      }

      h2 {
        font-weight: bold;
      }
    }
  }
}
